[submodule "Desktop/javascript-essence-tutorial/Desktop/javascript-essence-tutorial/vue-next"]
	path = Desktop/javascript-essence-tutorial/Desktop/javascript-essence-tutorial/vue-next
	url = https://github.com/codemafia0000/vue-next.git
